.login-container {
  max-width: 400px;
  margin: 60px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.12);
  padding: 32px 28px 24px 28px;
  border-top: 4px solid #1976d2;

}

.login-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 24px;
  color: #222;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
}

.login-form-group {
  margin-bottom: 20px;
  position: relative;
}

.login-input {
  width: 100%;
  padding: 10px 38px 10px 38px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  font-size: 1rem;
  background: #f8f9fa;
  outline: none;
  transition: border 0.2s;
}

.login-input:focus {
  border-color: #1976d2;
}

.login-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #1976d2;
  font-size: 1.2rem;
  
}

.login-eye {
  position: absolute;
  right: 10px;
  top:10%;
  /* transform: translateY(-10%); */
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #1976d2;
  width: 10px;
  height: 15px;
  margin-top: 5px !important;
  align-items: center !important;
}

.login-btn {
  width: auto;
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.login-btn:hover {
  background: #1565c0;
}

.login-links {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-link {
  color: #1976d2;
  font-size: 0.97rem;
  text-decoration: none;
  margin-bottom: 2px;
}

.login-link:hover {
  text-decoration: underline;
}

.login-home-link {
  color: #198754;
  font-size: 0.97rem;
  text-align: right;
  margin-top: 8px;
  text-decoration: none;
}

.login-home-link:hover {
  text-decoration: underline;
}